---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SI Activities">
  <div class="grow flex gap-2 p-4 flex-wrap content-center justify-center text-center">
    <p class="min-w-fit h-fit">
      Todas as suas atividades em um só lugar.
    </p>
    <p class="min-w-fit h-fit">
      Fácil de visualizar.
    </p>
    <p class="min-w-fit h-fit">
      Fácil de lembrar.
    </p>
    <p class="min-w-fit h-fit">
      Bonito e eficiente.
    </p>
    <div class="w-full flex justify-center">
      <a href={"/home"}>
        <button class="border rounded p-3 px-6 border-[#5f5f5f] mt-4">Começar</button>
      </a>
    </div>
  </div>
</Layout>