---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Avalie o site">
  <div
    style="width: 100%;"
  >
    <div data-tf-live="01J5YJREW5RHEJS7MB7AECYTYW"></div>
    <script is:inline src="//embed.typeform.com/next/embed.js"></script>
  </div>
</Layout>
